<div class="container p-4">
    <div class="row mt-2">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <h3>Listado de ventas</h3>
                <!--{{usuario.displayName}} - {{usuario.email}}-->
            </div>
            <div class="col-md-6 col-lg-6">
                <a style="margin: 3px;" href="/gestionarVentas" class="btn btn-outline-success float-end" role="button" aria-pressed="true">
                    <i class="fas fa-plus"></i> Gestionar Ventas
                </a>
                <a style="margin: 3px;" href="/ventas/crear/{{ventasT}}" class="btn btn-outline-success float-end" role="button" aria-pressed="true">
                    <i class="fas fa-plus"></i> Crear Venta
                </a>
                <!--a style="margin: 3px;" href="/api/productos" class="btn btn-outline-success float-end" role="button" aria-pressed="true">
                    <i class="fas fa-plus"></i> Api Productos
                </a-->
            </div>
        </div>
        <div class="col-sm-12 mt-3">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#Factura</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">TipoDoc</th>
                    <th scope="col">#Documento</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">$Total</th>
                    <th scope="col">Vendedor</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#if productos}}
                {{#each productos}}
                <tr>
                    <!--td>{{@key}}</td-->
                    <td>{{factura}}</td>
                    <td>{{cliente}}</td>
                    <td>{{tipodoc}}</td>
                    <td>{{documento}}</td>
                    <td>{{direccion}}</td>
                    <td>{{telefono}}</td>
                    <td>{{fecha}}</td>
                    <td>{{producto}}</td>
                    <td>{{cantidad}}</td>
                    <td>{{total}}</td>
                    <td>{{vendedor}}</td>
                    <td>
                        <a href="/ventas/editar/{{@key}}" class="btn btn-outline-info" role="button" aria-pressed="true">
                            <i class="far fa-edit"></i>
                        </a>
                        <a href="/eliminarVenta/{{@key}}" class="btn btn-outline-danger" role="button" aria-pressed="true">
                            <i class="fa fa-trash-o fa-lg"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
                {{/if}}
            </tbody>
        </table>
        {{!-- {{#if productos}}
        {{#each productos}}
        <div class="col-md-3 p-4">
            <div class="card text-center">
                <div class="card-body">
                    Producto
                </div>
                <div class="card-footer">
                    <p hidden>{{@key}}</p>
                    <p>{{nombre}}</p>
                    <p>{{descripcion}}</p>
                    <p>{{precio}}</p>
                    <p>{{imagen}}</p>
                    <div class="row">
                        <p><a href="/editarProductos/{{@key}}" class="btn btn-info form-control">Editar</a></p>

                        <p><a href="/eliminarProducto/{{@key}}" class="btn btn-danger form-control">Eliminar</a></p>
                    </div>
                </div>
            </div>
        </div>

        {{/each}}
        {{/if}} --}}
    </div>
</div>