<div class="container text-center">
  <h2>Gestión de Usuarios</h2>

{{#if usuarios}}
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">ID usuario</th>
            <th scope="col">Nombre de Usuario</th>
            <th scope="col">Rol de Usuario</th>
            <th scope="col">Estado de Usuario</th>
            <th scope="col">Acción</th>
            
            </tr>
        </thead>


        

        <tbody>

            {{#each usuarios}}
            
                <tr>
                    
                    <td>{{@key}}</td>
                    <td>{{nombre}}</td>
                    <td>{{rol}}</td>
                    <td>{{estado}}</td>
                    <td><a href="/activarProducto/{{@key}}" class="btn btn-danger form-control">Activar</a></td>
                    
                    
                    
                </tr>

            {{/each}}
            
            
        </tbody>
    </table>
{{/if}}
</div>