<div class="container text-center">
  <h2>Gestión de Usuarios</h2>

{{#if usuarios}}
    
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">ID usuario</th>
            <th scope="col">Nombre de Usuario</th>
            <th scope="col">Rol de Usuario</th>
            <th scope="col">Estado de Usuario</th>
            <th scope="col">Editar</th>

            </tr>
        </thead>

        

        <tbody>

            {{#each usuarios}}
            <form action="/editarUsuarios/{{@key}}" id="formulario{{@key}}" method="POST"></form>        
                <tr>
                    <td>{{@key}}</td>
                    <td>{{nombre}}</td>
                    
                    <td>
                       
                                <select class="form-select form-select-sm" name="rol" form="formulario{{@key}}" aria-label=".form-select-sm example">
                                <option selected >{{rol}}</option>    
                                <option value="Administrador">Administrador</option>
                                <option value="Vendedor">Vendedor</option>
                                <option value="Ejecutivo">Ejecutivo</option>
                                <option value="Operario">Operario</option>
                                <option value="Director">Director</option>
                                <option value="Gerente">Gerente</option>
                                <option value="Comercial">Comercial</option>
                                </select>
                        
                    </td>
                    
                    <td>
                        
                                <select class="form-select form-select-sm" name="estado" form="formulario{{@key}}" aria-label=".form-select-sm example" >
                                <option selected >{{estado}}</option>                                
                                <option value="Pendiente">Pendiente</option>
                                <option value="Autorizado">Autorizado</option>
                                <option value="No autorizado">No autorizado</option>
                                </select>
                         
                    </td>
                   
                    <td>
                        <button id="button-cambio" class="btn btn-primary form-control" form="formulario{{@key}}"> 
                                    Aceptar
                        </button>
                    </td>                    
                    
                </tr>

            {{/each}}
            
            
        </tbody>
    </table>
{{/if}}
</div>

