<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand" href="/">FastApp - Comidas Rápidas</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <!--{{#if usuario}}usuarios/maestroUsuarios
              {{usuario.displayName}} - {{usuario.email}}
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Gestionar Productos
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/agregarProductos">Agregar</a></li>
              <li><a class="dropdown-item" href="/gestionarProductos">Gestionar Inactivos</a></li>
              <li><a class="dropdown-item" href="/listarProductos">Listar Activos</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Gestionar Usuarios
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/usuarios/maestroUsuarios">Listar</a></li>
            </ul>
          </div>
            <li class="nav-item">
              <a href="/" class="nav-link">Perfil</a>
            </li>
            <li class="nav-item">
              <a href="/" class="nav-link">Salir</a>
            </li>
          {{else}}
          <div class="dropdown p-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Gestionar Productos
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/agregarProductos">Agregar</a></li>
              <li><a class="dropdown-item" href="/gestionarProductos">Gestionar Inactivos</a></li>
              <li><a class="dropdown-item" href="/">Listar Activos</a></li>
            </ul>
          </div>
          <div class="dropdown p-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Gestionar Usuarios
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/agregarUsuarios">Ingresar</a></li>
              <li><a class="dropdown-item" href="/maestroUsuarios">Listar</a></li>
            </ul>
          </div-->
          <!--div class="dropdown p-2">
            <a class="btn btn-success" href="/login">Login</a>
          </div-->

          {{#if usuario}}
            {{usuario.displayName}} - {{usuario.email}}
            {{else}}
              <li class="nav-item">
                <a href="/auth/google" class="nav-link"><img class="" src="https://developers.google.com/identity/images/btn_google_signin_light_normal_web.png"/></a>
              </li>
            {{/if}}

            <li class="nav-item">
              <a href="/logout" class="nav-link btn btn-danger">Salir</a>
            </li>
          
          <li class="nav-item dropdown">
              
            {{#if usuario}}
            {{usuario.displayName}} - {{usuario.email}}
            {{else}}
              <li class="nav-item">
                <a href="/auth/google" class="nav-link"><img class="" src="https://developers.google.com/identity/images/btn_google_signin_light_normal_web.png"/></a>
              </li>
            {{/if}}

            <li class="nav-item">
              <a href="/logout" class="nav-link btn btn-danger">Salir</a>
            </li>
            
            
            
            <!--li class="nav-item"-->
              <!--a href="/registro" class="nav-link">Registrarse</a>
            </li-->
            </li>
          {{/if}}

          {{!--Ejemplo 2 NavBar--}}
          {{!--<a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled">Disabled</a>--}}
        </div>
      </div>
    </div>
</nav>

<div class="row p-3">
      
    <h5>{{#if usuario}}
          {{displayName}} - {{email}}
        {{/if}}
    </h5>

</div>